<h1>Hello World from Hello!!</h1>

<%= 1+1 %> <br/>

<% target = "world" %>
<%= "Hello #{target}" %> <br/>

<% @array.each do |n| %>
    <%= n %><br>
<% end %>

<br>

<%= link_to('Index page', {:action => 'index'}) %> <br>

<br>

ID: <%= @id %> <br>
ID: <%= params[:id] %> <br>
Page: <%= @page %> <br>
Next Page: <%= @page.to_i + 1 %> <br>